# $ Classification Exercises $

### imports

In [3]:
import pandas as pd
import env
from pydataset import data
import acquire

# train test split from sklearn
from sklearn.model_selection import train_test_split
# imputer from sklearn
# help with missing value by replacing blank with: median, mode, average, calculate using other column
from sklearn.impute import SimpleImputer

# 4.  Create a pandas dataframe, df_iris, from this data.

In [ ]:
# use pydataset to import iris data and create data frame
df = data('iris')

# show top 3 rows of iris data
df.head(3)

In [ ]:
# use attribute shape of dataframe to obtain number of rows and columns
df.shape

In [ ]:
# use attribute columns to obtain column names
df.columns

In [ ]:
# Return a nice list of columns if I want to grab and use them later.

df.columns.to_list()

In [ ]:
# use attribute dtypes to see data types of columns
df.dtypes

In [ ]:
# Return data types plus.

df.info()

In [ ]:
# use describe method to see useful statistics of data transpose
df.describe().T

# 5. Read the data from this google sheet into a dataframe, df_google.

In [ ]:
# save url to variable
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
# replace edit with export and save to variable
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [ ]:
# read url created csv and create data frame
google_df = pd.read_csv(csv_export_url)

# show top 3 rows fo data frame
google_df.head(3)

In [ ]:
# use attribute shape of dataframe to obtain number of rows and columns
google_df.shape

In [ ]:
# use attribute columns to obtain column names in a list
google_df.columns.to_list()

In [ ]:
# use method .info() to see more information such as nulls
google_df.info()

In [ ]:
# use attribute dtypes to see data types of columns
google_df.dtypes

In [ ]:
# use describe method to see useful statistics of numeric variables
google_df.describe().T

In [ ]:
# use nunique method to print how many unique values are in categorical variables
google_df.select_dtypes('object').nunique()

In [ ]:
# I could get a count of unique values for each variable with an object data type.

for col in google_df.columns:
#     print(col)
    if google_df[col].dtypes == 'object':
        print(f'{col} has {google_df[col].nunique()} unique values.')

In [ ]:
google_df.Survived.value_counts(dropna=False)

In [ ]:
google_df.Pclass.value_counts(dropna=False)

In [ ]:
google_df.Sex.value_counts(dropna=False)

In [ ]:
google_df.Embarked.value_counts(dropna=False)

# 6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [ ]:
# create data frame from excel file
df_excel = pd.read_excel('df_excel.xlsx')
df_excel_sample = pd.read_excel('df_excel.xlsx').head(100)

In [ ]:
# look at info
df_excel.info()

In [ ]:
# shape of df
df_excel_sample.shape

In [ ]:
# return the number of rows only using attribute
df_excel.shape[0]

In [ ]:
# print the first 5 column names using attribute [:5] (inclusive) of data frame
df_excel_sample.columns[:5]

In [ ]:
# returns a list: print of column names that have a data type of object
df_excel_sample.select_dtypes(object).columns.tolist()

In [ ]:
# returns an array : print of column names that have a data type of object
df_excel_sample.select_dtypes(object).columns

In [ ]:
# use select dtypes and see the head
df_excel.select_dtypes(include='object').head()

In [ ]:
# Not seperating encoded columns compute the range of numeric variables in data frame
df_excel_sample.select_dtypes('float64').max()-df_excel_sample.select_dtypes('float64').min()

In [ ]:
# Some of these numeric columms are more like encoded categorical variables.

df_excel.head(3)

In [ ]:
# The two columns I want to know the range on are 'Age' and 'Fare'
# I can select just the true numeric variables to declutter my results.

titanic_stats = df_excel[['Age', 'Fare']].describe().T
titanic_stats

# acquire.py TEST Functions

In [2]:
telco_df = acquire.get_telco_data()
telco_df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [3]:
iris_df = acquire.get_iris_data()
iris_df.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [4]:
titanic_df = acquire.get_titanic_data()
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

# acquire.py code in vsc file
```python

import pandas as pd

import env


def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def new_titanic_data(): 
    '''
    This function reads the telco data from the Codeup db into a df.
    '''
    sql_query = """
                SELECT * FROM passengers
                """
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('titanic_db'))
    
    return df  

def get_titanic_data():
    filename = "titanic.csv"

    # if file is available locally, read it
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    
    # if file not available locally, acquire data from SQL database
    # and write it as csv locally for future use
    else:
        df = new_titanic_data()
        
        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv(filename)

        # Return the dataframe to the calling code
        return df  

def new_iris_data(): 
    '''
    This function reads the iris data from the Codeup db into a df.
    '''
    sql_query = """
                SELECT * FROM measurements JOIN species USING(species_id)
                """
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('iris_db'))
    
    return df   


def get_iris_data():
    filename = "iris.csv"

    # if file is available locally, read it
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    
    # if file not available locally, acquire data from SQL database
    # and write it as csv locally for future use
    else:
        df = get_iris_data()
        
        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv(filename)

        # Return the dataframe to the calling code
        return df 


def new_telco_data():
    '''
    This function reads the telco data from the Codeup db into a df.
    '''
    sql_query = """
                select * from customers
                join contract_types using (contract_type_id)
                join internet_service_types using (internet_service_type_id)
                join payment_types using (payment_type_id)
                """
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_connection('telco_churn'))
    
    return df
def get_telco_data():
    '''
    This function reads in telco data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a df.
    '''
    if os.path.isfile('telco.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('telco.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_telco_data()
        
        # Cache data
        df.to_csv('telco.csv')
        
    return df

```

# $ Data Preparation $

# Using the Iris Data:

### 1. Use the function defined in acquire.py to load the iris data.

In [95]:
# call on function to obtain iris data
iris_df =acquire.get_iris_data()
iris_df.sample(5)

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
80,2,81,5.5,2.4,3.8,1.1,versicolor
99,2,100,5.7,2.8,4.1,1.3,versicolor
113,3,114,5.7,2.5,5.0,2.0,virginica
15,1,16,5.7,4.4,1.5,0.4,setosa
46,1,47,5.1,3.8,1.6,0.2,setosa

In [96]:
# use shape attribure to see number of rows and columns
iris_df.shape

(150, 7)

### 2.  Drop the species_id and measurement_id columns.

In [97]:
# use method to drop columns
iris_df.drop(columns = ['species_id','measurement_id'], inplace = True)

In [98]:
# use shape to verify two columns where drop
iris_df.shape

(150, 5)

### 3. Rename the species_name column to just species.

In [99]:
# use method .rename to rename columns
iris_df.rename(columns={"species_name": "species"}, inplace = True)

In [100]:
# use attribute columns and method to_list to double check rename
iris_df.columns.to_list()

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

### 4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [101]:
# check how many unique values are in species column
iris_df.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [102]:
# create dummy data frame that encodes the 3 unique species name
dummy_iris_df = pd.get_dummies(iris_df['species'], dummy_na = False)

In [103]:
dummy_iris_df

     setosa  versicolor  virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
5         1           0          0
6         1           0          0
7         1           0          0
8         1           0          0
9         1           0          0
10        1           0          0
11        1           0          0
12        1           0          0
13        1           0          0
14        1           0          0
15        1           0          0
16        1           0          0
17        1           0          0
18        1           0          0
19        1           0          0
20        1           0          0
21        1           0          0
22        1           0          0
23        1           0          0
24        1           0          0
25        1           0          0
26        1           0          0
27        1           0          0
28        1           0          0
29        1           0          0
30        1           0          0
31        1           0          0
32        1           0          0
33        1           0          0
34        1           0          0
35        1           0          0
36        1           0          0
37        1           0          0
38        1           0          0
39        1           0          0
40        1           0          0
41        1           0          0
42        1           0          0
43        1           0          0
44        1           0          0
45        1           0          0
46        1           0          0
47        1           0          0
48        1           0          0
49        1           0          0
50        0           1          0
51        0           1          0
52        0           1          0
53        0           1          0
54        0           1          0
55        0           1          0
56        0           1          0
57        0           1          0
58        0           1          0
59        0           1          0
60        0           1          0
61        0           1          0
62        0           1          0
63        0           1          0
64        0           1          0
65        0           1          0
66        0           1          0
67        0           1          0
68        0           1          0
69        0           1          0
70        0           1          0
71        0           1          0
72        0           1          0
73        0           1          0
74        0           1          0
75        0           1          0
76        0           1          0
77        0           1          0
78        0           1          0
79        0           1          0
80        0           1          0
81        0           1          0
82        0           1          0
83        0           1          0
84        0           1          0
85        0           1          0
86        0           1          0
87        0           1          0
88        0           1          0
89        0           1          0
90        0           1          0
91        0           1          0
92        0           1          0
93        0           1          0
94        0           1          0
95        0           1          0
96        0           1          0
97        0           1          0
98        0           1          0
99        0           1          0
100       0           0          1
101       0           0          1
102       0           0          1
103       0           0          1
104       0           0          1
105       0           0          1
106       0           0          1
107       0           0          1
108       0           0          1
109       0           0          1
110       0           0          1
111       0           0          1
112       0           0          1
113       0           0          1
114       0           0          1
115       0           0          1
116       0           0          1
117       0           0          1
118       0           0          1
119       0           0          1
120       0           0          1
121       0           0          1
122       0           0          1
123       0           0          1
124       0           0          1
125       0           0          1
126       0           0          1
127       0           0          1
128       0           0          1
129       0           0          1
130       0           0          1
131       0           0          1
132       0           0          1
133       0           0          1
134       0           0          1
135       0           0          1
136       0           0          1
137       0           0          1
138       0           0          1
139       0           0          1
140       0           0          1
141       0           0          1
142       0           0          1
143       0           0          1
144       0           0          1
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

In [104]:
# concatenate the dummy_df with original data frame
new_iris_df = pd.concat([iris_df, dummy_iris_df], axis = 1)
new_iris_df.sample(5)

,sepal_length,sepal_width,petal_length,petal_width,species,setosa,versicolor,virginica
75,6.6,3.0,4.4,1.4,versicolor,0,1,0
22,4.6,3.6,1.0,0.2,setosa,1,0,0
135,7.7,3.0,6.1,2.3,virginica,0,0,1
124,6.7,3.3,5.7,2.1,virginica,0,0,1
4,5.0,3.6,1.4,0.2,setosa,1,0,0

### 5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
def prep_iris(df):
    ''' This function takes in iris dataframe will drop columns ['species_id,'measurement_id']
    rename 'species name' to 'species'.  
    Creates a dummy data drop_first(false) frame to encode the categorical values of species and concatanate 
    back into the original dataframe
    '''
    # use method to drop columns
    iris_df.drop(columns = ['species_id','measurement_id'], inplace = True)
    
    # use method .rename to rename columns
    iris_df.rename(columns={"species_name": "species"}, inplace = True)
    
    # create dummy data frame that encodes the 3 unique species name
    dummy_iris_df = pd.get_dummies(iris_df['species'], dummy_na = False)
    
    # concatenate the dummy_df with original data frame
    new_iris_df = pd.concat([iris_df, dummy_iris_df], axis = 1)
    
    return new_iris_df

In [ ]:
# check to see if function was sucessful by restart kernel and run imports and iris_df =acquire.get_iris_data() and def prep_iris(df):
clean_iris_df = prep_iris(iris_df)

In [ ]:
clean_iris_df.head()

# Using the Titanic dataset:

### 1. Use the function defined in acquire.py to load the Titanic data.

In [75]:
# call on function to obtain titanic data
titanic_df = acquire.get_titanic_data()
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [76]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   sex           891 non-null    object
 4   age           714 non-null    float64
 5   sibsp         891 non-null    int64
 6   parch         891 non-null    int64
 7   fare          891 non-null    float64
 8   embarked      889 non-null    object
 9   class         891 non-null    object
 10  deck          203 non-null    object
 11  embark_town   889 non-null    object
 12  alone         891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 97.5+ KB

### 2. Drop any unnecessary, unhelpful, or duplicated columns.

In [77]:
# Deciding which columns to be droped: 'Unnamed: 0','pclass',
titanic_df.columns.to_list()

['passenger_id',
 'survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'class',
 'deck',
 'embark_town',
 'alone']

In [78]:
# dropped columns 'embarked', 'pclass', 'passenger_id', 'deck
# you can drop columns if they have nulls or impute them
titanic_df.drop(columns = ['embarked', 'pclass', 'passenger_id', 'deck'], inplace = True)

In [79]:
titanic_df.shape

(891, 9)

### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [11]:
dummy_df = pd.get_dummies(titanic_df[['sex', 'class', 'embark_town']], dummy_na=False, drop_first=[False])

In [14]:
df = pd.concat([titanic_df,dummy_df], axis=1)
df

,survived,sex,age,sibsp,parch,fare,class,embark_town,alone,sex_male,class_Second,class_Third,embark_town_Queenstown,embark_town_Southampton
0,0,male,22.0,1,0,7.2500,Third,Southampton,0,1,0,1,0,1
1,1,female,38.0,1,0,71.2833,First,Cherbourg,0,0,0,0,0,0
2,1,female,26.0,0,0,7.9250,Third,Southampton,1,0,0,1,0,1
3,1,female,35.0,1,0,53.1000,First,Southampton,0,0,0,0,0,1
4,0,male,35.0,0,0,8.0500,Third,Southampton,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,male,27.0,0,0,13.0000,Second,Southampton,1,1,1,0,0,1
887,1,female,19.0,0,0,30.0000,First,Southampton,1,0,0,0,0,1
888,0,female,NaN,1,2,23.4500,Third,Southampton,0,0,0,1,0,1
889,1,male,26.0,0,0,30.0000,First,Cherbourg,1,1,0,0,0,0
890,0,male,32.0,0,0,7.7500,Third,Queenstown,1,1,0,1,1,0

### 4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [25]:
def prep_titanic(df):
    '''
    This function takes in dataframe and
    drops columns embarked', 'pclass', 'passenger_id', 'deck' and
    encodes 'sex', 'class', 'embark_town' with drop_first false and
    concatenates encoded df with original df
    '''
    
    # dropped columns 'embarked', 'pclass', 'passenger_id', 'deck
    titanic_df.drop(columns = ['embarked', 'pclass', 'passenger_id', 'deck'], inplace = True)
    
    # encode titanic dataframe for sex', 'class', 'embark_town
    dummy_df = pd.get_dummies(titanic_df[['sex', 'class', 'embark_town']], dummy_na=False, drop_first=[False])
    
    # concatenate dummy data frame to original dataframe
    df = pd.concat([titanic_df,dummy_df], axis=1)

    return df

In [26]:
# save function to variable to test
sample_df = prep_titanic(titanic_df)

In [81]:
# test to see for correct output
sample_df.head(10)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,total_charges_999.8,total_charges_999.9,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,0,0,0,1,0,0,0,0,0,1
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,0,0,0,0,0,0,0,0,0,1
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,0,0,1,0,0,1,0,0,1,0
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,0,0,1,0,0,1,0,0,1,0
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,0,0,1,0,0,1,0,0,0,1
5,4,1,1,0013-MHZWF,Female,0,No,Yes,9,Yes,...,0,0,0,0,0,0,0,1,0,0
6,3,2,3,0013-SMEOE,Female,1,Yes,No,71,Yes,...,0,0,0,0,1,1,0,0,0,0
7,4,2,3,0014-BMAQU,Male,0,Yes,No,63,Yes,...,0,0,0,0,1,1,0,1,0,0
8,1,1,1,0015-UOCOJ,Female,1,No,No,7,Yes,...,0,0,0,0,0,0,0,0,1,0
9,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,0,0,0,0,1,0,0,0,0,1

# Using the Telco dataset

### 1. Use the function defined in acquire.py to load the Telco data.

In [57]:
telco_df = acquire.get_telco_data()

In [30]:
telco_df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [ ]:
# use crosstab

In [41]:
telco_df.contract_type.value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64

In [42]:
telco_df.payment_type.value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64

In [46]:
telco_df.multiple_lines.value_counts()

No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64

In [52]:
telco_df.phone_service.value_counts()

Yes    6361
No      682
Name: phone_service, dtype: int64

In [37]:
# Creating a list of our numeric columns
numcols = [col for col in telco_df.columns if telco_df[col].dtype != 'O']
numcols

['payment_type_id',
 'internet_service_type_id',
 'contract_type_id',
 'senior_citizen',
 'tenure',
 'monthly_charges']

In [45]:
# Creating a list of our categorical columns
catcols = [col for col in telco_df.columns if telco_df[col].dtype == 'O']
catcols

['customer_id',
 'gender',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'total_charges',
 'churn',
 'contract_type',
 'internet_service_type',
 'payment_type']

In [32]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

### 2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [35]:
telco_df.columns

Index(['payment_type_id', 'internet_service_type_id', 'contract_type_id',
       'customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing', 'monthly_charges',
       'total_charges', 'churn', 'contract_type', 'internet_service_type',
       'payment_type'],
      dtype='object')

In [43]:
# drop unnecessary : payment_type_id', 'internet_service_type_id', 'contract_type_id' 
telco_df.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id' ])

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,Yes,No,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,No,No,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,No,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,Yes,No,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [54]:
telco_df.tech_support.value_counts()

No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64

In [55]:
# encode categorical drop_first set to False 'senior_citizen'gender','partner','dependents','phone_service','multiple_lines','online_security','online_backup','device_protection', 'tech_support','streaming_tv','streaming_movies','paperless_billing', 'total_charges', 'churn','contract_type','internet_service_type','payment_type'
dummy_df = pd.get_dummies(telco_df[['senior_citizen', 
                                    'gender','partner',
                                    'dependents',
                                    'phone_service',
                                    'multiple_lines',
                                    'online_security',
                                    'online_backup',
                                    'device_protection', 
                                    'tech_support',
                                    'streaming_tv',
                                    'streaming_movies',
                                    'paperless_billing', 
                                    'total_charges', 
                                    'churn',
                                    'contract_type',
                                    'internet_service_type',
                                    'payment_type']], dummy_na=False, drop_first=[False])

In [56]:
# Concatenate dummy_df to original data frame
df = pd.concat([telco_df, dummy_df], axis=1)
df

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,total_charges_999.8,total_charges_999.9,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,0,0,0,1,0,0,0,0,0,1
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,0,0,0,0,0,0,0,0,0,1
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,0,0,1,0,0,1,0,0,1,0
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,0,0,1,0,0,1,0,0,1,0
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,0,0,0,1,0,0,0,0,0,1
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,0,0,1,0,0,1,0,0,1,0
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,0,0,0,0,0,0,0,0,0,1
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,0,0,0,0,1,0,0,0,0,1
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,0,0,0,0,1,0,0,0,1,0

### 4 Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [82]:
def prep_telco(df):
    '''
    This function takes in dataframe and 
    drops columns:'payment_type_id', 'internet_service_type_id', 'contract_type_id' 
    encode categorical columns, drop_first set to False: 'senior_citizen'gender','partner','dependents','phone_service','multiple_lines','online_security','online_backup','device_protection', 'tech_support','streaming_tv','streaming_movies','paperless_billing', 'total_charges', 'churn','contract_type','internet_service_type','payment_type'
    Concatenate dummy_df to original data frame
    '''
    
    # drop unnecessary : payment_type_id', 'internet_service_type_id', 'contract_type_id' 
    telco_df.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id' ])
    
    # encode categorical drop_first set to False 'senior_citizen'gender','partner','dependents','phone_service','multiple_lines','online_security','online_backup','device_protection', 'tech_support','streaming_tv','streaming_movies','paperless_billing', 'total_charges', 'churn','contract_type','internet_service_type','payment_type'
    dummy_df = pd.get_dummies(telco_df[['senior_citizen', 
                                    'gender','partner',
                                    'dependents',
                                    'phone_service',
                                    'multiple_lines',
                                    'online_security',
                                    'online_backup',
                                    'device_protection', 
                                    'tech_support',
                                    'streaming_tv',
                                    'streaming_movies',
                                    'paperless_billing', 
                                    'total_charges', 
                                    'churn',
                                    'contract_type',
                                    'internet_service_type',
                                    'payment_type']], dummy_na=False, drop_first=[False])
    
    # Concatenate dummy_df to original data frame
    df = pd.concat([telco_df, dummy_df], axis=1)
    
    return df

In [83]:
# save function to variable to test
sample_df = prep_telco(telco_df)

In [84]:
# check for correct output
sample_df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,total_charges_999.8,total_charges_999.9,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,0,0,0,1,0,0,0,0,0,1
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,0,0,0,0,0,0,0,0,0,1
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,0,0,1,0,0,1,0,0,1,0
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,0,0,1,0,0,1,0,0,1,0
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,0,0,1,0,0,1,0,0,0,1

# Split your data

### 1. Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

In [115]:
def train_validate_test(df, target):
    
    train, test = train_test_split(df, test_size=.2, random_state=123, stratify=df[target])
    train, validate = train_test_split(train, test_size=.25, random_state=123, stratify=train[target])
    
    return train, validate, test

In [116]:
target= 'species'

In [117]:
train_validate_test(iris_df, 'species')

(     sepal_length  sepal_width  petal_length  petal_width     species
 70            5.9          3.2           4.8          1.8  versicolor
 123           6.3          2.7           4.9          1.8   virginica
 87            6.3          2.3           4.4          1.3  versicolor
 3             4.6          3.1           1.5          0.2      setosa
 15            5.7          4.4           1.5          0.4      setosa
 53            5.5          2.3           4.0          1.3  versicolor
 20            5.4          3.4           1.7          0.2      setosa
 50            7.0          3.2           4.7          1.4  versicolor
 54            6.5          2.8           4.6          1.5  versicolor
 52            6.9          3.1           4.9          1.5  versicolor
 81            5.5          2.4           3.7          1.0  versicolor
 88            5.6          3.0           4.1          1.3  versicolor
 145           6.7          3.0           5.2          2.3   virginica
 130           7.4          2.8           6.1          1.9   virginica
 149           5.9          3.0           5.1          1.8   virginica
 85            6.0          3.4           4.5          1.6  versicolor
 6             4.6          3.4           1.4          0.3      setosa
 31            5.4          3.4           1.5          0.4      setosa
 4             5.0          3.6           1.4          0.2      setosa
 18            5.7          3.8           1.7          0.3      setosa
 92            5.8          2.6           4.0          1.2  versicolor
 74            6.4          2.9           4.3          1.3  versicolor
 139           6.9          3.1           5.4          2.1   virginica
 125           7.2          3.2           6.0          1.8   virginica
 133           6.3          2.8           5.1          1.5   virginica
 100           6.3          3.3           6.0          2.5   virginica
 84            5.4          3.0           4.5          1.5  versicolor
 36            5.5          3.5           1.3          0.2      setosa
 41            4.5          2.3           1.3          0.3      setosa
 91            6.1          3.0           4.6          1.4  versicolor
 108           6.7          2.5           5.8          1.8   virginica
 89            5.5          2.5           4.0          1.3  versicolor
 23            5.1          3.3           1.7          0.5      setosa
 35            5.0          3.2           1.2          0.2      setosa
 137           6.4          3.1           5.5          1.8   virginica
 129           7.2          3.0           5.8          1.6   virginica
 1             4.9          3.0           1.4          0.2      setosa
 16            5.4          3.9           1.3          0.4      setosa
 55            5.7          2.8           4.5          1.3  versicolor
 67            5.8          2.7           4.1          1.0  versicolor
 32            5.2          4.1           1.5          0.1      setosa
 94            5.6          2.7           4.2          1.3  versicolor
 48            5.3          3.7           1.5          0.2      setosa
 25            5.0          3.0           1.6          0.2      setosa
 12            4.8          3.0           1.4          0.1      setosa
 95            5.7          3.0           4.2          1.2  versicolor
 46            5.1          3.8           1.6          0.2      setosa
 43            5.0          3.5           1.6          0.6      setosa
 69            5.6          2.5           3.9          1.1  versicolor
 119           6.0          2.2           5.0          1.5   virginica
 107           7.3          2.9           6.3          1.8   virginica
 140           6.7          3.1           5.6          2.4   virginica
 114           5.8          2.8           5.1          2.4   virginica
 104           6.5          3.0           5.8          2.2   virginica
 61            5.9          3.0           4.2          1.5  versicolor
 26            5.0          3.4           1.6          0.4      setosa
 82            5.8          2.7           3.9          1.2  versicolor
 8             4.4          2.9           1.4          0.2      setosa
 24            4.8          3.4           1.9          0.2      setosa
 51            6.4          3.2           4.5          1.5  versicolor
 115           6.4          3.2           5.3          2.3   virginica
 132           6.4          2.8           5.6          2.2   virginica
 126           6.2          2.8           4.8          1.8   virginica
 128           6.4          2.8           5.6          2.1   virginica
 14            5.8          4.0           1.2          0.2      setosa
 40            5.0          3.5           1.3          0.3      setosa
 59            5.2          2.7           3.9          1.4  versicolor
 109           7.2          3.6           6.1          2.5   virginica
 57            4.9          2.4           3.3          1.0  versicolor
 79            5.7          2.6           3.5          1.0  versicolor
 103           6.3          2.9           5.6          1.8   virginica
 9             4.9          3.1           1.5          0.1      setosa
 7             5.0          3.4           1.5          0.2      setosa
 142           5.8          2.7           5.1          1.9   virginica
 112           6.8          3.0           5.5          2.1   virginica
 73            6.1          2.8           4.7          1.2  versicolor
 83            6.0          2.7           5.1          1.6  versicolor
 111           6.4          2.7           5.3          1.9   virginica
 120           6.9          3.2           5.7          2.3   virginica
 147           6.5          3.0           5.2          2.0   virginica
 131           7.9          3.8           6.4          2.0   virginica
 5             5.4          3.9           1.7          0.4      setosa
 58            6.6          2.9           4.6          1.3  versicolor
 118           7.7          2.6           6.9          2.3   virginica
 141           6.9          3.1           5.1          2.3   virginica
 11            4.8          3.4           1.6          0.2      setosa
 29            4.7          3.2           1.6          0.2      setosa
 96            5.7          2.9           4.2          1.3  versicolor
 44            5.1          3.8           1.9          0.4      setosa
 97            6.2          2.9           4.3          1.3  versicolor,
      sepal_length  sepal_width  petal_length  petal_width     species
 124           6.7          3.3           5.7          2.1   virginica
 62            6.0          2.2           4.0          1.0  versicolor
 122           7.7          2.8           6.7          2.0   virginica
 98            5.1          2.5           3.0          1.1  versicolor
 64            5.6          2.9           3.6          1.3  versicolor
 60            5.0          2.0           3.5          1.0  versicolor
 136           6.3          3.4           5.6          2.4   virginica
 39            5.1          3.4           1.5          0.2      setosa
 27            5.2          3.5           1.5          0.2      setosa
 13            4.3          3.0           1.1          0.1      setosa
 99            5.7          2.8           4.1          1.3  versicolor
 90            5.5          2.6           4.4          1.2  versicolor
 121           5.6          2.8           4.9          2.0   virginica
 10            5.4          3.7           1.5          0.2      setosa
 47            4.6          3.2           1.4          0.2      setosa
 143           6.8          3.2           5.9          2.3   virginica
 21            5.1          3.7           1.5          0.4      setosa
 66            5.6          3.0           4.5          1.5  versicolor
 78            6.0          2.9           4.5          1.5  versicolor
 148           6.2          3.4           5.4          2.3   virginica
 113           5.7          2.5           5.0          2.0   virginica
 75            6.6          3.0           4.4          1.4  versicolor
 37            4.9          3.6           1.4          0.1      setosa
 49            5.0          3.3           1.4          0.2      setosa
 134           6.1          2.6           5.6          1.4   virginica
 106           4.9          2.5           4.5          1.7   virginica
 102           7.1          3.0           5.9          2.1   virginica
 71            6.1          2.8           4.0          1.3  versicolor
 30            4.8          3.1           1.6          0.2      setosa
 0             5.1          3.5           1.4          0.2      setosa,
      sepal_length  sepal_width  petal_length  petal_width     species
 80            5.5          2.4           3.8          1.1  versicolor
 45            4.8          3.0           1.4          0.3      setosa
 144           6.7          3.3           5.7          2.5   virginica
 110           6.5          3.2           5.1          2.0   virginica
 38            4.4          3.0           1.3          0.2      setosa
 2             4.7          3.2           1.3          0.2      setosa
 135           7.7          3.0           6.1          2.3   virginica
 72            6.3          2.5           4.9          1.5  versicolor
 138           6.0          3.0           4.8          1.8   virginica
 34            4.9          3.1           1.5          0.2      setosa
 19            5.1          3.8           1.5          0.3      setosa
 77            6.7          3.0           5.0          1.7  versicolor
 101           5.8          2.7           5.1          1.9   virginica
 63            6.1          2.9           4.7          1.4  versicolor
 117           7.7          3.8           6.7          2.2   virginica
 76            6.8          2.8           4.8          1.4  versicolor
 42            4.4          3.2           1.3          0.2      setosa
 22            4.6          3.6           1.0          0.2      setosa
 28            5.2          3.4           1.4          0.2      setosa
 33            5.5          4.2           1.4          0.2      setosa
 17            5.1          3.5           1.4          0.3      setosa
 116           6.5          3.0           5.5          1.8   virginica
 127           6.1          3.0           4.9          1.8   virginica
 56            6.3          3.3           4.7          1.6  versicolor
 105           7.6          3.0           6.6          2.1   virginica
 146           6.3          2.5           5.0          1.9   virginica
 93            5.0          2.3           3.3          1.0  versicolor
 86            6.7          3.1           4.7          1.5  versicolor
 68            6.2          2.2           4.5          1.5  versicolor
 65            6.7          3.1           4.4          1.4  versicolor)

### 2. Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

In [118]:
target = 'species'

In [119]:
train_validate_test(iris_df, 'species')

(     sepal_length  sepal_width  petal_length  petal_width     species
 70            5.9          3.2           4.8          1.8  versicolor
 123           6.3          2.7           4.9          1.8   virginica
 87            6.3          2.3           4.4          1.3  versicolor
 3             4.6          3.1           1.5          0.2      setosa
 15            5.7          4.4           1.5          0.4      setosa
 53            5.5          2.3           4.0          1.3  versicolor
 20            5.4          3.4           1.7          0.2      setosa
 50            7.0          3.2           4.7          1.4  versicolor
 54            6.5          2.8           4.6          1.5  versicolor
 52            6.9          3.1           4.9          1.5  versicolor
 81            5.5          2.4           3.7          1.0  versicolor
 88            5.6          3.0           4.1          1.3  versicolor
 145           6.7          3.0           5.2          2.3   virginica
 130           7.4          2.8           6.1          1.9   virginica
 149           5.9          3.0           5.1          1.8   virginica
 85            6.0          3.4           4.5          1.6  versicolor
 6             4.6          3.4           1.4          0.3      setosa
 31            5.4          3.4           1.5          0.4      setosa
 4             5.0          3.6           1.4          0.2      setosa
 18            5.7          3.8           1.7          0.3      setosa
 92            5.8          2.6           4.0          1.2  versicolor
 74            6.4          2.9           4.3          1.3  versicolor
 139           6.9          3.1           5.4          2.1   virginica
 125           7.2          3.2           6.0          1.8   virginica
 133           6.3          2.8           5.1          1.5   virginica
 100           6.3          3.3           6.0          2.5   virginica
 84            5.4          3.0           4.5          1.5  versicolor
 36            5.5          3.5           1.3          0.2      setosa
 41            4.5          2.3           1.3          0.3      setosa
 91            6.1          3.0           4.6          1.4  versicolor
 108           6.7          2.5           5.8          1.8   virginica
 89            5.5          2.5           4.0          1.3  versicolor
 23            5.1          3.3           1.7          0.5      setosa
 35            5.0          3.2           1.2          0.2      setosa
 137           6.4          3.1           5.5          1.8   virginica
 129           7.2          3.0           5.8          1.6   virginica
 1             4.9          3.0           1.4          0.2      setosa
 16            5.4          3.9           1.3          0.4      setosa
 55            5.7          2.8           4.5          1.3  versicolor
 67            5.8          2.7           4.1          1.0  versicolor
 32            5.2          4.1           1.5          0.1      setosa
 94            5.6          2.7           4.2          1.3  versicolor
 48            5.3          3.7           1.5          0.2      setosa
 25            5.0          3.0           1.6          0.2      setosa
 12            4.8          3.0           1.4          0.1      setosa
 95            5.7          3.0           4.2          1.2  versicolor
 46            5.1          3.8           1.6          0.2      setosa
 43            5.0          3.5           1.6          0.6      setosa
 69            5.6          2.5           3.9          1.1  versicolor
 119           6.0          2.2           5.0          1.5   virginica
 107           7.3          2.9           6.3          1.8   virginica
 140           6.7          3.1           5.6          2.4   virginica
 114           5.8          2.8           5.1          2.4   virginica
 104           6.5          3.0           5.8          2.2   virginica
 61            5.9          3.0           4.2          1.5  versicolor
 26            5.0          3.4           1.6          0.4      setosa
 82            5.8          2.7           3.9          1.2  versicolor
 8             4.4          2.9           1.4          0.2      setosa
 24            4.8          3.4           1.9          0.2      setosa
 51            6.4          3.2           4.5          1.5  versicolor
 115           6.4          3.2           5.3          2.3   virginica
 132           6.4          2.8           5.6          2.2   virginica
 126           6.2          2.8           4.8          1.8   virginica
 128           6.4          2.8           5.6          2.1   virginica
 14            5.8          4.0           1.2          0.2      setosa
 40            5.0          3.5           1.3          0.3      setosa
 59            5.2          2.7           3.9          1.4  versicolor
 109           7.2          3.6           6.1          2.5   virginica
 57            4.9          2.4           3.3          1.0  versicolor
 79            5.7          2.6           3.5          1.0  versicolor
 103           6.3          2.9           5.6          1.8   virginica
 9             4.9          3.1           1.5          0.1      setosa
 7             5.0          3.4           1.5          0.2      setosa
 142           5.8          2.7           5.1          1.9   virginica
 112           6.8          3.0           5.5          2.1   virginica
 73            6.1          2.8           4.7          1.2  versicolor
 83            6.0          2.7           5.1          1.6  versicolor
 111           6.4          2.7           5.3          1.9   virginica
 120           6.9          3.2           5.7          2.3   virginica
 147           6.5          3.0           5.2          2.0   virginica
 131           7.9          3.8           6.4          2.0   virginica
 5             5.4          3.9           1.7          0.4      setosa
 58            6.6          2.9           4.6          1.3  versicolor
 118           7.7          2.6           6.9          2.3   virginica
 141           6.9          3.1           5.1          2.3   virginica
 11            4.8          3.4           1.6          0.2      setosa
 29            4.7          3.2           1.6          0.2      setosa
 96            5.7          2.9           4.2          1.3  versicolor
 44            5.1          3.8           1.9          0.4      setosa
 97            6.2          2.9           4.3          1.3  versicolor,
      sepal_length  sepal_width  petal_length  petal_width     species
 124           6.7          3.3           5.7          2.1   virginica
 62            6.0          2.2           4.0          1.0  versicolor
 122           7.7          2.8           6.7          2.0   virginica
 98            5.1          2.5           3.0          1.1  versicolor
 64            5.6          2.9           3.6          1.3  versicolor
 60            5.0          2.0           3.5          1.0  versicolor
 136           6.3          3.4           5.6          2.4   virginica
 39            5.1          3.4           1.5          0.2      setosa
 27            5.2          3.5           1.5          0.2      setosa
 13            4.3          3.0           1.1          0.1      setosa
 99            5.7          2.8           4.1          1.3  versicolor
 90            5.5          2.6           4.4          1.2  versicolor
 121           5.6          2.8           4.9          2.0   virginica
 10            5.4          3.7           1.5          0.2      setosa
 47            4.6          3.2           1.4          0.2      setosa
 143           6.8          3.2           5.9          2.3   virginica
 21            5.1          3.7           1.5          0.4      setosa
 66            5.6          3.0           4.5          1.5  versicolor
 78            6.0          2.9           4.5          1.5  versicolor
 148           6.2          3.4           5.4          2.3   virginica
 113           5.7          2.5           5.0          2.0   virginica
 75            6.6          3.0           4.4          1.4  versicolor
 37            4.9          3.6           1.4          0.1      setosa
 49            5.0          3.3           1.4          0.2      setosa
 134           6.1          2.6           5.6          1.4   virginica
 106           4.9          2.5           4.5          1.7   virginica
 102           7.1          3.0           5.9          2.1   virginica
 71            6.1          2.8           4.0          1.3  versicolor
 30            4.8          3.1           1.6          0.2      setosa
 0             5.1          3.5           1.4          0.2      setosa,
      sepal_length  sepal_width  petal_length  petal_width     species
 80            5.5          2.4           3.8          1.1  versicolor
 45            4.8          3.0           1.4          0.3      setosa
 144           6.7          3.3           5.7          2.5   virginica
 110           6.5          3.2           5.1          2.0   virginica
 38            4.4          3.0           1.3          0.2      setosa
 2             4.7          3.2           1.3          0.2      setosa
 135           7.7          3.0           6.1          2.3   virginica
 72            6.3          2.5           4.9          1.5  versicolor
 138           6.0          3.0           4.8          1.8   virginica
 34            4.9          3.1           1.5          0.2      setosa
 19            5.1          3.8           1.5          0.3      setosa
 77            6.7          3.0           5.0          1.7  versicolor
 101           5.8          2.7           5.1          1.9   virginica
 63            6.1          2.9           4.7          1.4  versicolor
 117           7.7          3.8           6.7          2.2   virginica
 76            6.8          2.8           4.8          1.4  versicolor
 42            4.4          3.2           1.3          0.2      setosa
 22            4.6          3.6           1.0          0.2      setosa
 28            5.2          3.4           1.4          0.2      setosa
 33            5.5          4.2           1.4          0.2      setosa
 17            5.1          3.5           1.4          0.3      setosa
 116           6.5          3.0           5.5          1.8   virginica
 127           6.1          3.0           4.9          1.8   virginica
 56            6.3          3.3           4.7          1.6  versicolor
 105           7.6          3.0           6.6          2.1   virginica
 146           6.3          2.5           5.0          1.9   virginica
 93            5.0          2.3           3.3          1.0  versicolor
 86            6.7          3.1           4.7          1.5  versicolor
 68            6.2          2.2           4.5          1.5  versicolor
 65            6.7          3.1           4.4          1.4  versicolor)

### 3. Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

In [120]:
target = 'survived'

In [121]:
train_titanic, validate_titanic, test_titanic =train_validate_test(titanic_df, target)

### 4. Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [122]:
target = 'churn'

In [123]:
train_telco, validate_telco, test_telco = train_validate_test(telco_df, target)

In [124]:
train_telco

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
5911,3,1,2,8319-QBEHW,Male,0,No,Yes,26,No,...,No,Yes,No,Yes,39.95,1023.75,No,One year,DSL,Bank transfer (automatic)
2479,1,3,2,3547-LQRIK,Female,0,Yes,No,47,Yes,...,No internet service,No internet service,No internet service,No,26.90,1250.85,No,One year,None,Electronic check
5889,2,1,1,8280-MQRQN,Female,0,No,No,1,Yes,...,No,No,No,Yes,50.45,50.45,Yes,Month-to-month,DSL,Mailed check
6087,3,1,3,8626-PTQGE,Male,0,No,No,69,No,...,Yes,Yes,Yes,Yes,60.05,4176.7,No,Two year,DSL,Bank transfer (automatic)
785,4,2,2,1142-IHLOO,Female,0,No,No,51,Yes,...,No,Yes,Yes,No,87.55,4475.9,No,One year,Fiber optic,Credit card (automatic)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6102,3,2,1,8642-GVWRF,Female,0,Yes,No,2,Yes,...,No,No,No,No,79.70,165,Yes,Month-to-month,Fiber optic,Bank transfer (automatic)
356,1,1,1,0523-VNGTF,Female,1,No,No,52,No,...,Yes,Yes,No,Yes,50.50,2566.3,No,Month-to-month,DSL,Electronic check
1756,1,2,1,2568-BRGYX,Male,0,No,No,4,Yes,...,No,No,No,Yes,70.20,237.95,Yes,Month-to-month,Fiber optic,Electronic check
2127,2,1,3,3057-VJJQE,Male,0,No,No,35,Yes,...,No,No,No,No,55.25,1924.1,No,Two year,DSL,Mailed check
3586,2,1,2,5081-NWSUP,Female,0,No,No,10,Yes,...,Yes,No,Yes,No,64.90,685.55,No,One year,DSL,Mailed check

# $Tidy Data$

### 1. Attendance Data

Read the data from the attendance table and calculate an attendance percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

You should end up with something like this:


name

Billy    0.5250 

Jane     0.6875

John     0.9125

Sally    0.7625

Name: grade, dtype: float64
Coffee Levels

In [6]:
# import from codeup database the attendance data using env and sql query
import env

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

sql_query = """
                SELECT * 
                From attendance;
                """

attendance = pd.read_sql(sql_query, get_connection('tidy_data'))

In [155]:
# check to see what attendance looks like
attendance

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [156]:
# create a dataframe where we melt data and attendance
df = attendance.melt(id_vars='Unnamed: 0',var_name= 'date', value_name='attendance')
df

   Unnamed: 0        date attendance
0       Sally  2018-01-01          P
1        Jane  2018-01-01          A
2       Billy  2018-01-01          A
3        John  2018-01-01          P
4       Sally  2018-01-02          T
5        Jane  2018-01-02          P
6       Billy  2018-01-02          T
7        John  2018-01-02          T
8       Sally  2018-01-03          T
9        Jane  2018-01-03          T
10      Billy  2018-01-03          A
11       John  2018-01-03          H
12      Sally  2018-01-04          H
13       Jane  2018-01-04          T
14      Billy  2018-01-04          A
15       John  2018-01-04          P
16      Sally  2018-01-05          P
17       Jane  2018-01-05          T
18      Billy  2018-01-05          H
19       John  2018-01-05          P
20      Sally  2018-01-06          A
21       Jane  2018-01-06          T
22      Billy  2018-01-06          T
23       John  2018-01-06          T
24      Sally  2018-01-07          T
25       Jane  2018-01-07          A
26      Billy  2018-01-07          P
27       John  2018-01-07          P
28      Sally  2018-01-08          T
29       Jane  2018-01-08          T
30      Billy  2018-01-08          T
31       John  2018-01-08          P

In [157]:
# rename columns to name
df.rename(columns={'Unnamed: 0':'name'}, inplace = True)

# drop date column
df.drop(columns ='date', inplace = True)

In [158]:
# replace data values of attendance with floats relating to attendance
df['attendance'].replace({'A':0,'P':1,'T':.9,'H':0.5}, inplace = True)

In [161]:
# group by name to obtain average attendance
attendance_avg = df.groupby('name').mean().astype('float')

In [162]:
attendance_avg

       attendance
name
Billy      0.5250
Jane       0.6875
John       0.9125
Sally      0.7625

### 2. Coffee Levels
* Read the coffee_levels table.

* Transform the data so that each carafe is in it's own column.

* Is this the best shape for the data?

In [165]:
# read the coffee_levels table from codeup database
sql_query = """
                SELECT * 
                From coffee_levels;
                """

coffee_levels = pd.read_sql(sql_query, get_connection('tidy_data'))

In [174]:
coffee_levels

    hour coffee_carafe  coffee_amount
0      8             x       0.816164
1      9             x       0.451018
2     10             x       0.843279
3     11             x       0.335533
4     12             x       0.898291
5     13             x       0.310711
6     14             x       0.507288
7     15             x       0.215043
8     16             x       0.183891
9     17             x       0.391560
10     8             y       0.189297
11     9             y       0.521502
12    10             y       0.023163
13    11             y       0.235529
14    12             y       0.017009
15    13             y       0.997464
16    14             y       0.058361
17    15             y       0.144644
18    16             y       0.544676
19    17             y       0.594126
20     8             z       0.999264
21     9             z       0.915990
22    10             z       0.144928
23    11             z       0.311495
24    12             z       0.771947
25    13             z       0.398520
26    14             z       0.864464
27    15             z       0.436364
28    16             z       0.280621
29    17             z       0.436677

In [179]:
# Transform the data so that each carafe is its own columns
coffee_levels.pivot_table(index=['hour'],
                         columns = 'coffee_carafe',
                         values = 'coffee_amount')

coffee_carafe         x         y         z
hour
8              0.816164  0.189297  0.999264
9              0.451018  0.521502  0.915990
10             0.843279  0.023163  0.144928
11             0.335533  0.235529  0.311495
12             0.898291  0.017009  0.771947
13             0.310711  0.997464  0.398520
14             0.507288  0.058361  0.864464
15             0.215043  0.144644  0.436364
16             0.183891  0.544676  0.280621
17             0.391560  0.594126  0.436677

The shape above is a better shape for the table because coffee_carafe is best seen as a column.

### 3. Cake Recipes

* Read the cake_recipes table. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.

* Tidy the data as necessary.

* Which recipe, on average, is the best? recipe b

* Which oven temperature, on average, produces the best results? 275

* Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

In [8]:
# read the coffee_levels table from codeup database
sql_query = """
                SELECT * 
                From cake_recipes;
                """

cake_recipes = pd.read_sql(sql_query, get_connection('tidy_data'))

In [20]:
cake_recipes

  recipe:position        225        250        275        300
0        a:bottom  61.738655  53.912627  74.414730  98.786784
1           a:top  51.709751  52.009735  68.576858  50.228470
2        b:bottom  57.095320  61.904369  61.196980  99.248541
3           b:top  82.455004  95.224151  98.594881  58.169349
4        c:bottom  96.470207  52.001358  92.893227  65.473084
5           c:top  71.306308  82.795477  92.098049  53.960273
6        d:bottom  52.799753  58.670419  51.747686  56.183110
7           d:top  96.873178  76.101363  59.571620  50.971626

In [16]:
cake_melt = cake_recipes.melt(id_vars='recipe:position',
                 var_name='temp',
                 value_name='rate')

In [21]:
# Transform the data so that each carafe is its own columns
cake_pivot = cake_melt.pivot_table(index=['temp'],
                         columns = 'recipe:position',
                         values = 'rate')

In [29]:
cake_pivot

recipe:position,a:bottom,a:top,b:bottom,b:top,c:bottom,c:top,d:bottom,d:top
temp,,,,,,,,
225,61.738655,51.709751,57.095320,82.455004,96.470207,71.306308,52.799753,96.873178
250,53.912627,52.009735,61.904369,95.224151,52.001358,82.795477,58.670419,76.101363
275,74.414730,68.576858,61.196980,98.594881,92.893227,92.098049,51.747686,59.571620
300,98.786784,50.228470,99.248541,58.169349,65.473084,53.960273,56.183110,50.971626

In [23]:
# another way
recipe_position_df = cake_recipes['recipe:position'].str.split(':', expand= True)
recipe_position_df.columns =['recipe', 'position']
recipe_position_df.head()

  recipe position
0      a   bottom
1      a      top
2      b   bottom
3      b      top
4      c   bottom

In [28]:
cake2=pd.concat([recipe_position_df,cake_recipes], axis = 1).drop(columns = 'recipe:position')
cake2.head()

  recipe position        225        250        275        300
0      a   bottom  61.738655  53.912627  74.414730  98.786784
1      a      top  51.709751  52.009735  68.576858  50.228470
2      b   bottom  57.095320  61.904369  61.196980  99.248541
3      b      top  82.455004  95.224151  98.594881  58.169349
4      c   bottom  96.470207  52.001358  92.893227  65.473084

In [ ]:
sales_tidy = sales2.pivot_table(index=['Product', 'year'], columns='measure', values='value')
sales_tidy.head()

In [38]:
cake_tidy= cake2.pivot_table(index=['recipe','position'],
                     columns ='temp')

KeyError: 'temp'