In [1]:
import pandas as pd
from sklearn.metrics import confusion_matrix


df = pd.DataFrame({
    'actual': ['coffee', 'no coffee', 'no coffee', 'coffee', 'coffee', 'coffee', 'no coffee', 'coffee'],
    'prediction': ['no coffee', 'no coffee', 'coffee', 'coffee', 'coffee', 'coffee', 'no coffee', 'no coffee'],
})
df

      actual prediction
0     coffee  no coffee
1  no coffee  no coffee
2  no coffee     coffee
3     coffee     coffee
4     coffee     coffee
5     coffee     coffee
6  no coffee  no coffee
7     coffee  no coffee

In [2]:
pd.crosstab(df.actual, df.prediction)

prediction  coffee  no coffee
actual
coffee           3          2
no coffee        1          2

c[0,0]: There are 2 True Negatives, where we predicted the people don't like cofee and they really don't

c[0:1]: There is 1 False Positive, where we predicted the person likes coffee but they really don't

c[1,0]: There are 2 False Negatives, where we predicted those people don't like coffee, but they really do
c[1,1]: There are 3 True Positives, that is for 4 people they really do like coffee and we predicted they do

### Metrics:

    * accuracy
    * precision
    * recall

In [6]:
df.actual.value_counts()
# base line should be cofee because we could get more right that more time
# in this case coffee as baseline in classification , baseline wants coffee
#wich ever has the most frequency in the classification is the baseline

coffee       5
no coffee    3
Name: actual, dtype: int64

In [7]:
df['baseline'] = 'coffee'

In [10]:
# model accuracy
(df.actual == df.prediction).mean()

0.625

In [11]:
# model baseline accuracy
(df.actual == df.baseline).mean()

0.625

In [15]:
# model for precision
subset = df[df.prediction == 'coffee']
subset

      actual prediction baseline
2  no coffee     coffee   coffee
3     coffee     coffee   coffee
4     coffee     coffee   coffee
5     coffee     coffee   coffee

In [17]:
# model for precision
(subset.prediction == subset.actual).mean()

0.75

In [18]:
# model recall
subset_r = df[df.actual == 'coffee']
subset_r

   actual prediction baseline
0  coffee  no coffee   coffee
3  coffee     coffee   coffee
4  coffee     coffee   coffee
5  coffee     coffee   coffee
7  coffee  no coffee   coffee

In [20]:
# model recall
(subset_r.prediction ==subset_r.actual).mean()

0.6

In [21]:
from sklearn.metrics import classification_report

In [22]:
print (classification_report(df.actual, df.prediction))
# the f1 score is the harmonic mean
# macro/ weighted, kind of like your baseline, weighted mean of overall average, how unbalance my dataset is.
# two options : coffee is positive  0.75      0.60      0.67         5
#                  OR
#               no coffee is positive  0.50      0.67      0.57         3

              precision    recall  f1-score   support

      coffee       0.75      0.60      0.67         5
   no coffee       0.50      0.67      0.57         3

    accuracy                           0.62         8
   macro avg       0.62      0.63      0.62         8
weighted avg       0.66      0.62      0.63         8