# $Model Evaluation $

### Imports

In [20]:
import pandas as pd
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

# 2. 
Given the following confusion matrix, evaluate (by hand) the model's performance.

Dog is positive

Cat is negative

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In [37]:
def calculations (tp,fp,fn,tn):
    '''This function takes in integers for true positive, false positive, false negative, true negative
    and returns accuracy, recall, precision, and baseline choosing dog.'''
    
    accuracy = (tp + tn) / (tp + fp + fn + tn)
    recall = tp / (tp + fn)
    precision = tp/ (tp + fp)
    baseline = (tp+tn)/(tp + tp + fn + tn)
    
    print('Accuracy:', accuracy)
    print('Recall:', recall)
    print('Precision:', precision)
    print('Baseline:',baseline)

In [38]:
calculations (46,13,7,34)

Accuracy: 0.8
Recall: 0.8679245283018868
Precision: 0.7796610169491526
Baseline: 0.6015037593984962

In [4]:
tp = 46
tn = 34
fp = 13
fn = 7

In the context of this problem, what is a false positive?

predicted dog, actual cat

In the context of this problem, what is a false negative?

predicted cat, actual dog

How would you describe this model?

The models accuracy, recall and precision is good because it is above the baseline.

### 3. 
You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

In [41]:
c3 = pd.read_csv('c3.csv')
c3.sample(10)

        actual     model1     model2     model3
78   No Defect  No Defect  No Defect  No Defect
36   No Defect  No Defect     Defect  No Defect
47   No Defect  No Defect  No Defect  No Defect
128  No Defect  No Defect  No Defect     Defect
187  No Defect  No Defect  No Defect     Defect
23   No Defect  No Defect  No Defect     Defect
181  No Defect  No Defect     Defect  No Defect
189  No Defect  No Defect  No Defect  No Defect
30      Defect     Defect  No Defect     Defect
58   No Defect  No Defect     Defect  No Defect

In [42]:
c3.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [6]:
c3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  200 non-null    object
 1   model1  200 non-null    object
 2   model2  200 non-null    object
 3   model3  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [7]:
c3.actual

0      No Defect
1      No Defect
2      No Defect
3      No Defect
4      No Defect
         ...
195    No Defect
196       Defect
197    No Defect
198    No Defect
199    No Defect
Name: actual, Length: 200, dtype: object

In [8]:

print('mode 1',classification_report(c3.actual, c3.model1))
print('model 2',classification_report(c3.actual, c3.model2))
print('model 3',classification_report(c3.actual, c3.model3))

mode 1               precision    recall  f1-score   support

      Defect       0.80      0.50      0.62        16
   No Defect       0.96      0.99      0.97       184

    accuracy                           0.95       200
   macro avg       0.88      0.74      0.79       200
weighted avg       0.95      0.95      0.94       200

model 2               precision    recall  f1-score   support

      Defect       0.10      0.56      0.17        16
   No Defect       0.94      0.56      0.70       184

    accuracy                           0.56       200
   macro avg       0.52      0.56      0.44       200
weighted avg       0.87      0.56      0.66       200

model 3               precision    recall  f1-score   support

      Defect       0.13      0.81      0.23        16
   No Defect       0.97      0.53      0.69       184

    accuracy                           0.56       200
   macro avg       0.55      0.67      0.46       200
weighted avg       0.90      0.56      0.65       200

* An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

Positive: duck is defect free

Negative: duck has a defect

TP: we predict duck is defect free and duck is defect free___
FP: we predict duck is defect free and duck is has a defect

FN: we predict duck has a defect and duck is defect free___
TN: we predict duck has a defect and duck has a defect___



|           |    +       |     -      |
|:----------|-----------:|-----------:|
|      +    |            |            |
|           |     TP     |     FP     |
|           |            |            |
|:----------|-----------:|-----------:|   
|           |            |            |
|      -    |      FN    |     TN     |
|           |            |            |

A false positive would be the worst situation. So the best the appropriate metric here would lessen type 1 errors which is ***precision***

### **Should be the false negative adjust for  recall and use model 3 !!!**

* Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

A false positive would be the worst situation. So the best the appropriate metric here would lessen type 1 errors which is ***precision**

# 4.

You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

Positive: It is a dog

Negative: it is not a dog

TP: Predicted a dog and it was a dog

FP: Predicted a dog and it was not a dog

FN: Predicted it was not a dog and it was a dog

TN: Predicted it was not a dog ant it was not a dog

In [43]:
paw = pd.read_csv('gives_you_paws.csv')
paw.sample(10)

     actual model1 model2 model3 model4
3606    dog    cat    dog    cat    dog
1637    dog    dog    cat    dog    cat
757     cat    cat    cat    dog    cat
746     cat    cat    cat    dog    dog
1293    dog    dog    cat    cat    dog
3941    dog    dog    cat    cat    dog
161     cat    cat    cat    dog    cat
3143    cat    cat    cat    dog    dog
4497    dog    dog    cat    cat    dog
1512    dog    cat    cat    cat    dog

In [44]:
paw.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [46]:
paw['baseline'] = 'dog'
# good to do it programaticaly, avoid assigning values, get them programatically

# paw['baseline'] = paw.actual.value_counts().idxmax
paw

     actual model1 model2 model3 model4 baseline
0       cat    cat    dog    cat    dog      dog
1       dog    dog    cat    cat    dog      dog
2       dog    cat    cat    cat    dog      dog
3       dog    dog    dog    cat    dog      dog
4       cat    cat    cat    dog    dog      dog
...     ...    ...    ...    ...    ...      ...
4995    dog    dog    dog    dog    dog      dog
4996    dog    dog    cat    cat    dog      dog
4997    dog    cat    cat    dog    dog      dog
4998    cat    cat    cat    cat    dog      dog
4999    dog    dog    dog    dog    dog      dog

[5000 rows x 6 columns]

In [47]:
print('mode 1',classification_report(paw.actual, paw.model1))
print('model 2',classification_report(paw.actual, paw.model2))
print('model 3',classification_report(paw.actual, paw.model3))
print('model 4',classification_report(paw.actual, paw.model4))

print('baseline',classification_report(paw.actual, paw.baseline))

mode 1               precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

model 2               precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

model 3               precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

model 4               precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000

baseline               precision    recall  f1-score   support

         cat       0.00      0.00      0.00      1746
         dog       0.65      1.00      0.79      3254

    accuracy                           0.65      5000
   macro avg       0.33      0.50      0.39      5000
weighted avg       0.42      0.65      0.51      5000

/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

Model 1 and Model 4 are above the baseline in terms of accuracy. The other Model 2 and Model 3 are below baseline.

### b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

FP: Predicted a dog and it was not a dog;
would be the worst situation, since we do not want to be sending out pictures that are not dogs.

We should optimized for precision and lessen type 1 errors

***We should go with Model 1 or Model 2***

### c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

Positive: pic is a cat

Negative: pic is not a cat

TP: Predicted a cat and it was a cat

FP: Predicted a cat and it was not a cat

FN: Predicted it was not a cat and it was a cat

TN: Predicted it was not a cat ant it was not a cat

Adjust for recall:
Use Model 2

### *** !!!Model 4 for cats optimized for precision***

 ### 5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

sklearn.metrics.accuracy_score

sklearn.metrics.precision_score

sklearn.metrics.recall_score

sklearn.metrics.classification_report

In [48]:
 accuracy_score(paw.actual, paw.model1)

0.8074